DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=evolytics_db
WEB_SERVER_PORT=8000
JWT_SECRET=secret
JWT_EXPIRESIN=300
APP_BASE_URL=http://localhost:3000
STRIPE_SECRET=sk_test_xxx
STRIPE_PRICE_PERSONAL_MONTHLY=price_xxx
STRIPE_PRICE_PERSONAL_SEMIANNUAL=price_xxx
STRIPE_PRICE_PERSONAL_ANNUAL=price_xxx
STRIPE_PRICE_ORGANIZATION_MONTHLY=price_xxx
STRIPE_PRICE_ORGANIZATION_SEMIANNUAL=price_xxx
STRIPE_PRICE_ORGANIZATION_ANNUAL=price_xxx

## gmail

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=seuemail@gmail.com
SMTP_PASSWORD=sua_senha_de_app
FROM_EMAIL=seuemail@gmail.com
FRONTEND_RESET_URL=https://seusite.com/reset-password